/* Common */

:root{
    --lightblue: #0084FD;
    --heavenly: #B5DDFF;
    --violet: #9792E4;
    --yellow: #FDC15F;
    --darkgrey: #333333;
    --white: #ffffff;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7rem;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.container-small{
    max-width: 300px;
    margin: 0 auto;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

button{
    background-color: var(--violet);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 1em 4em;
    text-align: center;
    margin-top: 1.5em;
}

/* ClASSI PER FLEX */
.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/* Header */

header{
    background-color: var(--lightblue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


header a {
    color: var(--white);
    text-decoration: none;
}


.btn-hamb{
    background-color: var(--white);
    padding: 0.5em 1em;
    display: none;
}

.btn-hamb a{
    color: var(--black);
}

.main-menu {
    position: relative;
}

.main-menu ul{
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
    list-style: none;
}


.main-menu:hover ul{
    display: block;
    /* background-color: var(--white);
    border: 1px solid var(--lightblue); */
}

/* main */

/* Prima sezione */
#planning, #features, #get-started{
    background-color: var(--violet);
}

#intro{
    padding: 0 2em;
}
.card{
    background-color: var(--heavenly);
    border-radius: 20px;
    margin-bottom: 1.5rem;
    padding: 0 1em;
}

.card img{
    width: 70%;
    margin: 0 auto;
    margin-bottom: -0.5em;
    padding-top: 2em;
}

.card h3{
    color: var(--lightblue);
}

.card i{
    font-size: 4rem;
    color: var(--lightblue);
}
.apple{
    background-color: var(--lightblue);
    color: var(--white);
    padding: 0.8em 3em;
}
.apple i{
    color: var(--white);
    font-size: 1rem;
}

/* Seconda sezione */
#planning{
    padding: 2rem;
}

.plans img{
    width: 100%;
    padding-top: 1em;
}
.app{
    background-color: var(--white);
    border-radius: 40px;
    padding: 0 2em;
}

.plans i{
    border-radius: 50%;
    background-color: var(--violet);
    margin: 1em auto;
    padding: 1em;
}
.plans h2{
    padding-top: 2em;
    padding-bottom: 1em;
}

.strategy{
    color: var(--white);
}

.strategy p{
    padding-bottom: 2em;
}

.app .text-center h2{

    color: var(--black);
}

.app .text-center{
    padding: 0;
}

/* Terza sezione */
.text-center{
    text-align: center;
    color: var(--black);
    padding: 2em 2em;
}

.text-center h2{
    color: var(--violet);
    padding: 1em 0;
}

.testimonials{
    background-color: var(--violet);
    color: var(--white);
    border-radius: 40px;
    padding: 0 2em;
    margin: 1em 1em;
    text-align: center;
}

.testimonials img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1em;
    margin: 1em 0;
}

.cit{
    font-size: 2rem;
}

.name{
    padding: 1em 0;
}

/* Quarta sezione */

#features .container{
    color: var(--white);
}

#features .text-center{
    color: var(--white);
}

.feat-card{
    background-color: var(--white);
    border-radius: 40px;
    color: var(--violet);
    padding: 2em;
    margin: 1em;
}

.feat-card h2, h3{
    padding-bottom: 0.8em;
}

.features-cards{
    padding-bottom: 2em;
}

/* Inizio quinta sezione */
    #about-us h2, h3{
        color: var(--violet);
        padding: 1em 0;
    }

    .about-us, .about-img{
        padding: 0 1em;
    }
    
    .p1, .p2{
        padding-bottom: 1em;
    }

    .about-img img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        margin-top: 2.5em;
    }

    .about-img .fa-quote-left{
        position: absolute;
        margin-left: -1em;
        margin-top: 1em;
        font-size: 3rem;
        color: var(--violet);
    }

    .about-img button{
        margin-bottom: 1em;
        padding: 0.5em 1em;
    }

/* Inizio sesta sezione */
    #get-started .text-center{
        color: var(--white);
    }

    .started h3{
        color: var(--white);
    }

    .started h2{
        color: var(--yellow);
        font-size: 3.5rem;
        padding: 0.6em;
    }

    .start{
        display: inline;
        background-color: var(--white);
        color: var(--violet);
        font-weight: bold;
        font-size: 1.1em;
        padding: 1em 3em;
        margin-bottom: 1em;
    }

    .copy a{
        color: var(--white);
    }

/* Footer */
footer{
    background-color: var(--darkgrey);
}

footer .text-center{
    color: var(--white);
}

.foot a{
    color: var(--violet);
}

.foot {
    padding-top: 3em;
}

/* RESPONSIVE */
@media screen and (min-width: 768px){
/* Prima sezione */
    .container{
        max-width: 750px;
    }

    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child{
        width: calc(66.66% - 1.5rem)
    }

/* Terza sezione */
    .testimonials{
        width: 100%;
        display: flex;
    }

    .text-flex{
        display: flex;
        flex-direction: column;
        padding: 3em 0;
        padding-top: 4em;
    }

    .text-align{
        text-align: initial;
    }

/* Quarta sezione */
    .features-cards{
        display: flex;
        flex-flow: row wrap;
    }
    .feat-card{
        width: calc(33.33% - 2em);
    }

/* Quinta sezione */
    .about-flex{
        display: flex;
        padding-top: 2rem;
    }
}


/* ############################################################# */


@media screen and (min-width: 992px){

    .container{
        max-width: 980px;
    }

/* Nav bar */
    
    .main-menu:hover ul{
        display: flex;
        align-items: center;
    }

    .main-menu ul{
        position: static;
        width: auto;
        display: flex;
        align-items: center;
        list-style: none;
    }

    .main-menu li{
        padding: 1em;
    }

    .btn-hamb{
        display: block;
        margin: 0;
        color: var(--black);
    }

    .fa-bars{
        display: none;
    }

  
/* Prima sezione */
    .demo{
        display: flex;
    }
    
    .demo img{
        width: 100%;
        padding-top: 5rem;
    }

/* Seconda sezione */
    #planning .container{
        max-width: 760px;
    }

    .plans{
        display: flex;
        align-items: flex-end;
    }

    .strategy{
        width: 100%;
    }

    .app{
        width: 60%;
        margin: 1em;
    }

    .app h2{
        font-size: 1.5em;
    }
   
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}