/* Common */

:root{
    --lightblue: #0084FD;
    --heavenly: #B5DDFF;
    --violet: #9792E4;
    --yellow: #FDC15F;
    --darkgrey: #333333;
    --white: #ffffff;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7rem;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.container-small{
    max-width: 300px;
    margin: 0 auto;
}

h2{
    font-size: 2rem;
}

button{
    background-color: var(--violet);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 1em 4em;
    text-align: center;
    margin-top: 1.5em;
}

/* ClASSI PER FLEX */
.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}



.debug{
    border: 1px solid black;
    min-height: 50px;
}
/* Header */

header{
    background-color: var(--lightblue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}

.main-menu{
    display: none;
}

header a {
    color: var(--white);
    text-decoration: none;
}

/* main */

/* Prima sezione */
#planning, #features, #get-started{
    background-color: var(--violet);
}

#intro{
    padding: 0 2em;
}
.card{
    background-color: var(--heavenly);
    margin-bottom: 1.5rem;
}

/* Seconda sezione */
#planning{
    padding: 2rem;
}

.plans img{
    width: 100%;
    padding-top: 1em;
}
.app{
    background-color: var(--white);
    border-radius: 40px;
    padding: 0 2em;
}

.plans i{
    border-radius: 50%;
    background-color: var(--violet);
    margin: 1em auto;
    padding: 1em;
}
.plans h2{
    padding-top: 2em;
    padding-bottom: 1em;
}

.strategy{
    color: var(--white);
}

.strategy p{
    padding-bottom: 2em;
}

.app .text-center h2{

    color: var(--black);
}

.app .text-center{
    padding: 0;
}

/* Terza sezione */
.text-center{
    text-align: center;
    color: var(--black);
    padding: 2em 2em;
}

.text-center h2{
    color: var(--violet);
    padding: 1em 0;
}

.testimonials{
    background-color: var(--violet);
    color: var(--white);
    border-radius: 40px;
    padding: 0 2em;
    margin: 1em 1em;
    text-align: center;
}

.testimonials img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1em;
}

.cit{
    font-size: 2rem;
}

.name{
    padding: 1em 0;
}

/* Quarta sezione */

#features .container{
    color: var(--white);
}

#features .text-center{
    color: var(--white);
}

.feat-card{
    background-color: var(--white);
    border-radius: 40px;
    color: var(--violet);
    padding: 2em;
    margin: 1em;
}

.feat-card h2, h3{
    padding-bottom: 0.8em;
}

/* Inizio quinta sezione */
    #about-us h2, h3{
        color: var(--violet);
        padding: 1em 0;
    }

    .about-us, .about-img{
        padding: 0 1em;
    }
    
    .p1, .p2{
        padding-bottom: 1em;
    }

    .about-img img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .about-img .fa-quote-left{
        margin-left: -1em;
        font-size: 3rem;
        color: var(--violet);
    }

    .about-img button{
        margin-bottom: 1em;
        padding: 0.5em 1em;
    }













/* Footer */
footer{
    background-color: var(--darkgrey);
}


/* RESPONSIVE */
@media screen and (min-width: 768px){
/* Prima sezione */
    .container{
        max-width: 750px;
    }

    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child{
        width: calc(66.66% - 1.5rem)
    }

/* Terza sezione */
    .testimonials{
        width: 100%;
        display: flex;
    }

    .text-flex{
        display: flex;
        flex-direction: column;
        padding: 2em 0;
    }

/* Quarta sezione */
    .features-cards{
        display: flex;
        flex-flow: row wrap;
    }
    .feat-card{
        width: calc(33.33% - 2em);
    }

/* Quinta sezione */
    .about-flex{
        display: flex;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 992px){

    .container{
        max-width: 980px;
    }
/* Seconda sezione */
    #planning .container{
        max-width: 760px;
    }
    .plans{
        display: flex;
    }
    .strategy img{
        width: 100%;
    }
    .app img{
        width: 70%;
    }

}